body {
  font-family: "Lato", sans-serif;
  color: #4e443c;
  line-height: 1.5;
  font-size: 1.5em;
}

center-element() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

top-left() {
  position: absolute;
  left: 0%;
  top: 20%;
  margin: 0;
}

.entailment {
  font-size: 1.5em;
}

.entail-example {
  font-size: 1.5em;
}

.debut-container-inner {
  background: #F1F1EA;
}

.full-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0;
  text-align: center;
}

.end-slide, .emphasis-slide {
  background: #EB6A51;
  color: #fff;
  z-index: 1000;
}

.title-slide, .final {
  text-align: center;
  font-weight: 300;
}

.content {
  width: 80%;
  center-element();
}

.hyper {
  color: blue;
}

.hypo {
  color: red;
}

.target {
  color: green;
}

.example {
  font-family: "Merriweather";
}

.fruit {
  display: none;
}

.footnote {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 10%;
  font-size: 0.5em;
}

.dih {
  line-height: 1.0;
}

.dih-def {
  font-size: 0.75em;
}

.vectors {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -43%);
  text-align: center;
}

.goldfish-vec {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, 0%);
}

.eigendecomp {
  center-element();
  width: 80%;
}

.subspace-img-container {
  max-width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.subspace-img-container img {
  width: 100%;
}

.distinguishing {
  position: absolute;
  left: 75%;
  top: 30%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px;
  text-align: center;
}

.pgfs {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(0%, -50%);
}

.hint--always:after {
  font-size: 1em;
}

.left-panel {
  position: absolute;
  max-width: 40%;
  top: 20%;
  left: 10%;
}

.right-panel {
  position: absolute;
  max-width: 40%;
  top: 20%;
  left: 60%;
}

.right-panel img {
  max-width: 100%;
}

.overlap {
  color: red;
}

.centered {
  max-width: 80%;
  center-element();
}

.repres {
  center-element();
  left: 30%;
}
